.MyButton{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    
    padding: 10 10 20 20;
 
    font-size : 18px;
    /* 버튼글자가 길어 2줄이 되는것 방지 */
    white-space: nowrap;
    font-family: 'Nanum Pen Script';
  }
  .MyButton_default{
   background-color: #ececec;
   color: black;
  }
  .MyButton_positive{
    background-color: #64c964;
    color: white;
  }
  .MyButton_negative{
    background-color: #fd565f;
    color:white;
  }